<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/styles/404.css" rel="stylesheet" type="text/css" />
  <title>404-mvc</title>
</head>

<body>
  <main>
    <h1>Página não encontrada!</h1>

    <p>Ops... a página que você está procurando não existe :/</p>

    <a href="/authors">Voltar para a página inicial</a>
  </main>
</body>

</html>